# dependencias
node_modules/

# salida de build
dist/
.astro/

# entorno
.env
.env.*
!.env.example

# sistema
.DS_Store
Thumbs.db

# editores
.vscode/*
!.vscode/extensions.json
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
